<footer>
  <div class="grid footer-wrapper">

      <div class="col-8">
        <span class="copyrights">&copy;2021 Copyrights Reserved by <strong>Ahmed Sokar</strong></span>
      </div>

      <div class="col-4 social">
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="pi pi-facebook" style="font-size: 1.3rem"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="pi pi-twitter" style="font-size: 1.3rem"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="pi pi-youtube" style="font-size: 1.3rem"></i></a>
              </li>
          </ul>
      </div>
  </div>
</footer>
