<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Users" subheader="List of all Users">

    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
            label="New"
            icon="pi pi-plus"
            styleClass="p-button-success"
            routerLink="form" >
            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <p-table
        [value]="users"
        responsiveLayout="stack"
        styleClass="p-datatable-gridlines" >
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center font-bold" pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th class="text-center font-bold">Email</th>
                  <th class="text-center font-bold">IS Admin</th>
                  <th class="text-center font-bold">Country</th>
                  <th class="text-center font-bold"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
              <tr>
                  <td class="text-center">
                    <span class="p-column-title font-bold">Name</span>
                    {{user.userName}}</td>
                  <td class="text-center">
                    <span class="p-column-title font-bold">Email</span>
                    {{user.email}}</td>
                  <td class="text-center">
                    <span class="p-column-title font-bold">IS Admin</span>
                    <p-tag
                    *ngIf="user.isAdmin"
                    icon="pi pi-check"
                    severity="success"
                    [rounded]="true" >
                    </p-tag>
                    <p-tag
                    *ngIf="!user.isAdmin"
                    icon="pi pi-times"
                    severity="danger"
                    [rounded]="true" >
                    </p-tag>
                  </td>

                  <td class="text-center">
                    <span class="p-column-title font-bold">Country</span>
                    {{ getCountryName(user.country) }}</td>

                  <td class="text-center">
                    <p-button
                    (click)="deleteUser(user.id)"
                    icon="pi pi-trash"
                    styleClass="p-button-danger mr-2"
                    >
                    </p-button>
                    <p-button
                    (click)="editUser(user.id)"
                    icon="pi pi-pencil"
                    styleClass="p-button-success"
                    >
                    </p-button>
                  </td>
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
[style]="{width: '50vw'}"
[baseZIndex]="10000"
rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

