<header>
  <div class="grid contain">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </div>
    </div>

    <!-- This for products-search Component in the Products Library -->
    <div class="col-3 search">
      <products-search></products-search>

    </div>

    <!-- This for Nav Component in the Shared Folder -->
    <div class="col-3 col-offset-1 navbar">
      <ecommerce-nav></ecommerce-nav>
    </div>

    <div class="col-2 icons">
      <!-- This for user-icon Component in the orders lib -->
      <orders-user-icon></orders-user-icon>

      <!-- This for cart-icon Component in the orders lib -->
      <orders-cart-icon></orders-cart-icon>
    </div>

  </div>
</header>


